@font-face {
    font-family: 'lemon_birdregular';
    src: url('../fonts/lemonbird-regular-webfont.woff2') format('woff2'),
         url('../fonts/lemonbird-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}
/* Voeg jouw css hieraan toe */
a {
    color: tomato;
}
/* Concurrentieanalyse */
.concurrent {
    color: tomato;
}
/*foto's concurrentieanalyse */
section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.media { 
    min-width: 0
    }
   img {
    width: 360px;
    max-width: 100%; 
    max-height: 450px; 
    border: 3px solid hsla(4, 57%, 57%, 1);
    border-radius: 5px;
    }
    img:hover {
        transform: scale(1.5); }

/* voor en nadelen concurrentieanalyse */
.lijstje {
    list-style: none; 
    padding: 0;
    margin: 0;
}



.pluslist { 
    padding-left: 29px; 
    padding-bottom: 4px;
  
}
.pluslist:before {
    content: "+"; 
    position: absolute;
    padding-right: 8px;
    margin-left: -17px;
    color: tomato; 
}


.minlist { 
    padding-left: 29px;
    padding-bottom: 4px;
}
.minlist:before {
    position: absolute;
    content: "-"; 
    padding-right: 8px;
    margin-left: -17px;
    color: tomato; 
}


/* User Scenario's */
.user {
    list-style-image: url(../images/personasheet/ventje.jpg);
    padding: 10px;
}
/*DIGITAL STYLEGUIDE*/
.DSh1 {
    color: #2E4059;
    
}
.DSh2 {
    color: #CE5C56;
    text-transform: uppercase;
    font-size: 25px;
}
/*logo DS*/
.logo {
    width: 350px;
    max-width: 100%; 
    max-height: 200px; 
    border: 2px solid hsla(4, 57%, 57%, 1);
    border-radius: 5px;
}
.logo:hover {
    transform: scale(1.2); 
}
.blauw {
    color: #133159;
}
.oranje {
    color:#F06C44;
}
.rood {
    color: #DA3725;
}
    
/*Kleurenpallet DS */
.boxkleuren{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
.kleur {
display: inline-block;
margin: 30px;

}
.naamkleur{
    font-size: 12px;
    color: #2E4059;
    text-align: center;
    margin: -3px;
}
.square {
width: 80px;
height: 80px;
border-radius: 50%;
margin: 0 auto 20px auto;

}
.square1{
    background-color: #CE5C56;
}
.square2 {
    background-color: #F06C44;
}
.square3 {
    background-color: #D98549;
}
.square4 {
    background-color: #F0AA44;
}
.square5 {
    background-color: #E5B841;
}
.square6 {
    background-color: #2E4059;
}
.square7 {
    background-color: #133159;
}
.square8 {
    background-color: #245AA6;
}
.square9 {
    background-color: #2F76D9;
}
.square10 {
    background-color: #73A1DF;
}
/*navigatie*/
.rodebalk {
    background-color: #CE5C56;
    display: flex;
    max-width: 1050px;;
}
.logomenu {
    border: none;
    max-width: 70px;;
    max-height: 30px; 
    margin-top: 10px;
    padding-left: 20px;

}
.naammenu {
    text-transform: uppercase;
    display: inline;
    color: #FFFAF2;
    margin-left: 50px;
    font-size: 14px;
    font-family: Avenir, Avenir next, cursive;
}
.blauw {
    color: #133159;
}
/*Knoppen*/

.knop1 {
    background-color: #F0AA44;
    width: 200px;
    height: 90px;
    box-shadow: -5px 10px 10px 4px rgba(240, 171, 68, 0.6);
}
.reserveer {
    color: #133159 ;
    text-transform: uppercase;
    text-align: center;
    padding-top: 7px;
    
}
.tickets {
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    color: #133159;
    margin-top: -5px;
    text-align: center;
}
.knop2 {
    border: 3px solid #F0AA44;
    width: 250px;
    height: 100px;
    box-shadow: 5px 10px #133159;
}
.kijk {
    color: #133159 ;
    text-transform: uppercase;
    text-align: center;
}
.speeldata {
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    color: #133159;
    margin-top: -5px;
    text-align: center;
}

/*Titels*/
.titel1 {
font-size:100px;
color: #F06C44;
font-family: 'lemon_birdregular';
}
.titel2 {
font-family: 'Amatic SC', cursive;
font-size: 70px;
color: #245AA6;
}
.titel3 {
font-family: Avenir, cursive;
color: #133159;
font-size: 25px;
}
.tekst4 {
font-family: Avenir, cursive;
color: #2E4059;
font-size: 15px;
}
.bijschrift {
    color:rgb(145, 148, 150);
    font-size: 11px;
    
}

/*Links*/

/*foto julie*/ 
.cirkelcontainer {
    position: relative;
    width: 200px;;

  }
  
  .julie {
    Border: 4px solid #F0AA44;
    border-radius: 50%;
    width: 200px;
    max-width: 100%;
    max-height: 200px;
    box-shadow: 5px 5px 1px 3px #133159;
    display: block;
    height: auto;
  }
.julie:hover {
    transform: none; }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 4px;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    opacity: 0;
    transition: .5s ease;
    background-color: #FFFAF2;
  }
  
  .cirkelcontainer:hover .overlay {
    opacity: 0.5;
  }

  .naamtje {
    color: #2E4059;
    font-family: Avenir, Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

/* einde foto julie */
.link {
    font-family: Avenir, cursive;
    color: #2E4059;
    font-size: 15px;
    text-decoration: underline;
    }